body {
    background-color: whitesmoke;
}

#login_block {
    max-width: 75%;
    padding: 2em 2em;
    margin: auto;
}

#login_form {
    background-color: white;
    max-width: 50%;
    margin: auto;
    padding: 3em;
    text-align: left;
}

.wide {
    width: 100%;
}

#login_form .form-control {
    background-color: #efefef;
    color: #6c757d;
    padding: 1em;
    border: none;
}

@media only screen and (max-width: 600px) {
    #login_form {
        max-width: 100%;
    }
    #login_block {
        max-width: 100%;
    }
}

#user-info-card {
    padding: 3em;
    border-radius: 15px;
}

.user-pic {
    border-radius: 100%;
}

.funny-list {
    padding: 0 0.5em;
    margin-top: 1em;
}